*.o
*.obj
*.exe
*.dll
*.so
*.out
*.app

build/
out/
bin/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json

.vscode/
*.code-workspace


.vs/
*.sln
*.vcxproj

.DS_Store
Thumbs.db
ehthumbs.db